#calculator {
    border: black solid;
    width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    border: black solid;
    height: auto;
    min-height: 50px;
    width: 90%;
    margin: 10px;
    padding: 5px;

    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
}

#prevScreen {
    height: 32px;
    font-size: 20px;
}

#currScreen {
    min-height: 64px;
    font-size: 40px;
    display: block;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 20px;
    font-size: 20px;
}