#calculator {
    border: black solid;
    width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    border: black solid;
    height: 100px;
    width: 90%;
    margin: 10px;
    font-size: 50px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 20px;
    font-size: 20px;
}